a{
    background-color: red;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 15px; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 560;
    box-shadow: 3px 3px 3px black;
    border: 5px solid black;
    text-decoration: none;
   }

   a:hover {
       background-color: white;
       color: red;
       cursor:pointer
   }

   .botao{
    background-color: blue;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 15px; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 560;
    box-shadow: 3px 3px 3px black;
    border: 5px solid black;
   }

   .botao:hover {
       background-color: white;
       color: blue;
       cursor:pointer
   }

   .time{
    background-color: green;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 15px; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 560;
    box-shadow: 3px 3px 3px black;
    border: 5px solid black;
    text-decoration: none;
   }

   .time:hover {
       background-color: white;
       color: green;
       cursor:pointer
   }